<!DOCTYPE html>
<html>
  <head>
    <title>
      {{ .config.Title }}
    </title>
  </head>

  <body>
    <header>
      <a href="/">
        <img src="{{ .config.Logo }}" alt="">
      </a>
    </header>

    <form action="/upload/sendfile" method="post" enctype="multipart/form-data">
      <h1>Upload file</h1>
      <input type="text" name="name">
      <br>
      <input type="text" name="email">
      <br>
      <input type="file" name="file">
      <br>
      <input type="submit">
    </form>

    <form action="/upload/byurl" method="post">
      <h1>Upload from URL</h1>
      <input type="text" name="url">
      <input type="submit">
    </form>
  </body>
</html>
